
/* Fonts & Alignment */

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 300;
    font-style: italic;
  }  

  /* Sections */
h1{
    font-family:'DM Serif Text', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50  px;
    font-style: italic;
    text-align: center;
    color: white
}

h2{
    font-family:'DM Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30  px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: white
}

h3{
    font-family:'DM Serif Text', sans-serif;
    font-size: 50  px;
    font-weight: normal;
    text-align: center;
    color: white
}

h4{
    font-family:'DM Serif Text', sans-serif;
    font-size: 35  px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: rgba (255, 255, 255, 0.85);
}

p, header, footer{
    font-family:'DM Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    font-weight: normal;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50  %;
  }


/* Background */ 

body {
  background-image: url("images/gradient-background.png");
  /* background-size: cover;  */
  background-size: 100  % 100  %;
  background-repeat: no-repeat; /* prevent repeating */
  background-position: center;
  color: white;
  overflow-x: hidden;
}


/* Nav Menu  */

nav{
  position:sticky;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50  %;
  top: 50  px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Button-like styling */
.btn {
  display: inline-block;
  border: 2  px solid #140A3F;
  background-color: #140A3F;
  border-radius: 50  px;
  color: white;
  padding: 14  px 28  px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20  px;
  cursor: pointer;
  margin: 0 5  px; /* spacing between buttons */
  text-align: center;
  text-decoration: none;
  filter: drop-shadow (0 0 0.60 rem #796bc9);
}

/* Container styling */
.btn-class {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -------------- HOME PAGE ---------------- */ 

/* Image and Text side-by-side AAAA STRUGGLING ;-; */

.profile{
  display:flex;
  flex-direction:row;
  align-items: center;
  padding: 200  px;
  margin-top: -100  px;
}

.profile-img{
  max-width: 80  %;
  height: 80  %;
}

.profile-info{
  position:right;
  max-width:100  %; 
}

/* --- Logos/Icons --- */


/* -------------- ABOUT ME ---------------- */ 

.column {
  float: left;
  width: 50  %;
  padding: 10  px;
  padding-top: 60  px;
  padding-left: 230  px;
  margin-right: -360  px;
}

.column-text{
  width: 100 %;
  padding:1 px;
  padding-top:40 px;
}

.column2 {
  float: left;
  width: 50 %;
  padding: 10 px;
  padding-top: 60 px;
  padding-left: 10 px;
  margin-left: -490 px;
  margin-top: 120 px;
  margin-right: -360 px;
}

.column-text2{
  width: 100 %;
  padding:1 px;
  padding-top:160 px;
}


.column3 {
  float: left;
  width: 50 %;
  padding: 10 px;
  padding-top: 60 px;
  padding-left: 10 px;
  margin-left: -490 px;
  margin-top: 165 px;
  margin-right: -360 px;
}

.column-text3{
  width: 100 %;
  padding:1 px;
  padding-top:190 px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* --- Skills --- */




/* Animation from W3 Schools (atp im just messing around) */

img:not(.no-style){
  border-radius: 12.5 %;
  filter: drop-shadow (0 0 0.75 rem #906A91);
}

img:not(.no-style):hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake2 4 s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
a:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 4 s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  
}


@keyframes shake {
   from {
    text-shadow: 0 0 10 px #906A91, 0 0 20 px #b87bba, 0 0 30 px #333170, 0 0 40 px #906A91, 0 0 50 px #333170;
  }
  to {
    text-shadow: 0 0 20 px #212360, 0 0 30 px #614cac, 0 0 40 px #333170, 0 0 50 px #906A91;
  } 
  0 % { transform: translate (1 px, 1 px) rotate (0 deg); }
  10 % { transform: translate (-1 px, -2 px) rotate (-1 deg); }
  20 % { transform: translate (-3 px, 0 px) rotate (1 deg); }
  30 % { transform: translate (3 px, 2 px) rotate (0 deg); }
  40 % { transform: translate (1 px, -1 px) rotate (1 deg); }
  50 % { transform: translate (-1 px, 2 px) rotate (-1 deg); }
  60 % { transform: translate (-3 px, 1 px) rotate (0 deg); }
  70 % { transform: translate (3 px, 1 px) rotate (-1 deg); }
  80 % { transform: translate (-1 px, -1 px) rotate (1 deg); }
  90 % { transform: translate (1 px, 2 px) rotate (0 deg); }
  100 % { transform: translate (1 px, -2 px) rotate (1 deg); }
}


@keyframes shake2 {
   from {
    box-shadow: 0 0 10 px #9da0ed, 0 0 20 px #b87bba, 0 0 30 px #333170, 0 0 40 px #906A91, 0 0 50 px #333170;
  }
  to {
    box-shadow: 0 0 20 px #212360, 0 0 30 px #614cac, 0 0 40 px #333170, 0 0 50 px #906A91;
  } 
  0 % { transform: translate (1 px, 1 px) rotate (0 deg); }
  10 % { transform: translate (-1 px, -2 px) rotate (-1 deg); }
  20 % { transform: translate (-3 px, 0 px) rotate (1 deg); }
  30 % { transform: translate (3 px, 2 px) rotate (0 deg); }
  40 % { transform: translate (1 px, -1 px) rotate (1 deg); }
  50 % { transform: translate (-1 px, 2 px) rotate (-1 deg); }
  60 % { transform: translate (-3 px, 1 px) rotate (0 deg); }
  70 % { transform: translate (3 px, 1 px) rotate (-1 deg); }
  80 % { transform: translate (-1 px, -1 px) rotate (1 deg); }
  90 % { transform: translate (1 px, 2 px) rotate (0 deg); }
  100 % { transform: translate (1 px, -2 px) rotate (1 deg); }
}


/* Glowing Text!!! */

.glow {
  font-size: 95 px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1 s ease-in-out infinite alternate;
  -moz-animation: glow 1 s ease-in-out infinite alternate;
  animation: glow 1 s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10 px #212360, 0 0 20 px #b87bba, 0 0 30 px #333170, 0 0 40 px #906A91, 0 0 50 px #333170;
  }
  to {
    text-shadow: 0 0 20 px #212360, 0 0 30 px #3C3068, 0 0 40 px #333170, 0 0 50 px #906A91;
  }
}


/* Typerwriter by Frank Eno! */

/* Cursor */


.cursor{
    position: relative;
    width: 24 em;
    margin: 0 auto;
    border-right: 2 px solid rgba (255,255,255,.75);
    font-size: 30 px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translate Y (-50 %);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5 s steps (50) 1 s 1 normal both, 
    blinkingCursor 500 ms steps (50) infinite normal;
}


@keyframes typewriter {
  from { width: 0; }
  to { width: 35 ch; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba (255,255,255,.75); }
  to { border-right-color: transparent; }
}

/* ----- Scrolling and Fading?? add later --- */



/* Auto Image Gallery */
.image-container {
  position: relative;
  width: 270 px;
  height: 270 px;
  transform-style: preserve-3d;
  transform: perspective (1000 px) rotate Y (0 deg);
  transition: transform 0.7 s;
  margin-left: 725 px;
  margin-top: 250 px;
}

.image-container span {
  position: absolute;
  top: 0 px;
  left: 0 px;
  width: 100 %;
  transform: rotate Y (calc (var (--i) * 45 deg)) translate Z (400 px);
}

.image-container span img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100 %;
}

.btn-wrapper {
  position: relative;
  height: auto;
  padding-left: 725 px;
  width: 80 %;
}

.btna {
  display: inline-block;
  border: 2 px solid #140A3F;
  background-color: #140A3F;
  border-radius: 50 px;
  color: white;
  padding: 14 px 28 px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20 px;
  cursor: pointer;
  margin: 0 5 px; /* spacing between buttons */
  text-align: center;
  text-decoration: none;
  filter: drop-shadow (0 0 0.60 rem #796bc9);
}
